* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}

.container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #111;
  position: relative;
}

.moon {
  position: absolute;
  top: 15px;
  right: 15px;
  height: 40px;
  width: 40px;
  stroke: #fff;
  cursor: pointer;
}

p {
  font-family: sans-serif;
  color: #fff;
  position: absolute;
  top: 90px;
  right: 75px;
  font-weight: 550;
}

.moonP {
  font-family: sans-serif;
  color: #fff;
  position: absolute;
  top: 32px;
  right: 75px;
  font-weight: 550;
}

.no {
  position: absolute;
  top: 75px;
  right: 15px;
  height: 40px;
  width: 40px;
  stroke: #fff;
  cursor: pointer;
}

.gallery {
  display: flex;
  width: 900px;
  height: auto;
  overflow-x: scroll;
  overflow-y: hidden;
}

.gallery::-webkit-scrollbar {
  display: none;
}

.gallery div {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 20px;
  padding: 10px;
  width: 100%;
  flex: none;
}

.img {
  height: 100%;
  width: 100%;
  filter: invert(30%);
  cursor: pointer;
  transition: 0.1s ease;
}

.img:hover {
  filter: invert(0);
  transform: scale(1.04);
}

.icon-border {
  padding: 4px;
  box-shadow: 0px 0px 24px rgb(20, 20, 255);
  margin: 40px;
  border-radius: 50%;
  border: 2px solid #fff;
  height: 56px;
  width: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s ease;
}

.icon-border:active {
  transform: scale(0.8);
}

.no:active {
  transform: scale(0.8);
}

.icon-left,
.icon-right {
  cursor: pointer;
  height: 100%;
  width: 100%;
  stroke: #fff;
}

.icon-left {
  transform: rotate(180deg);
}
